.additional {
    background: #f6f5e1;
    padding: 8.695% 0;
    // # sm
    @media (min-width: 576px) {
        padding: 50px 0;
    }

    &__title {
        margin-bottom: 14px;
    }

    &__text {
        margin-bottom: 42px;
        text-align: center;
        // # md
        @media (min-width: 768px) {
            text-align: left;
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 360px;
        //# custom
        @media (min-width: 645px) {
            max-width: 100%;
        }
        // # custom
        @media (min-width: 813px) {
            max-width: 750px;
        }
        // # lg
        @media (min-width: 992px) {
            max-width: 100%;
            justify-content: flex-start;
        }
    }
}
