.delivery {
    padding: 11.73vw 0;
    //# md
    @media (min-width: 768px) {
        padding: 90px 0;
    }
    &__wrapper {
        position: relative;
    }

    &__title {
        margin: 0 auto 3vw;
        max-width: 610px;
        //# md
        @media (min-width: 768px) {
            margin: 0 0 17px 0;
        }
    }

    &__subtitle {
        margin: 0 auto 4vw;
        max-width: 440px;
        flex-shrink: 0;
        font-size: 4.8vw;
        text-align: center;
        //# sm
        @media (min-width: 576px) {
            font-size: 18px;
        }
        //# md
        @media (min-width: 768px) {
            text-align: left;
            margin: 0 0 29px 0;
        }
    }

    &__pic {
        //# md
        @media (min-width: 768px) {
            z-index: -1;
            position: absolute;
            width: 43%;
            transform: translateY(-50%);
            top: 70%;
            right: 0;
        }
        //# custom
        @media (min-width: 867px) {
            width: 50%;
        }
        //# lg
        @media (min-width: 992px) {
            width: 55%;
            top: 55%;
        }
        //# custom
        @media (min-width: 1300px) {
            width: 40%;
        }
        & img {
            width: 100%;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        padding: 2.99vw;
        flex-direction: column;
        background: #f9f9f9;
        border-radius: 5px;
        flex-wrap: wrap;
        //# md
        @media (min-width: 768px) {
            flex-direction: column;
            display: inline-flex;
            padding: 23px 40px;
        }
        //# custom
        @media (min-width: 1300px) {
            flex-direction: row-reverse;
            padding: 23px;
        }
    }

    &__btn {
        @media (min-width: 1300px) {
            margin-right: 23px;
        }
    }

    &__advantages {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-bottom: 3.9vw;
        //# md
        @media (min-width: 768px) {
            margin-bottom: 30px;
        }
        //# custom
        @media (min-width: 430px) {
            justify-content: center;
            width: auto;
        }
        //# custom
        @media (min-width: 1300px) {
            margin-bottom: 0;
        }
    }

    &__advantage {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin-right: 15px;
        //# custom
        @media (min-width: 430px) {
            flex-direction: row;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    &__ico {
        width: 45px;
        margin: 0 0 10px 0;
        //# custom
        @media (min-width: 430px) {
            margin: 0 14px 0 0;
        }
        & img {
            width: 100%;
        }
    }

    &__description {
        text-align: center;
        //# custom
        @media (min-width: 430px) {
            text-align: left;
        }
    }
}
