.gallery {
    padding: 10vw 0 4vw;
    // # md
    @media (min-width: 768px) {
        padding: 75px 0 65px;
    }

    &__header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 8vw;
        //# md
        @media (min-width: 768px) {
            margin-bottom: 35px;
        }
        // # custom
        @media (min-width: 900px) {
            flex-wrap: nowrap;
            margin-bottom: 35px;
        }
    }

    &__title {
        font-size: 5.5vw;
        flex-shrink: 1.1;
        margin-bottom: 5vw;
        // //# sm
        @media (min-width: 576px) {
            font-size: 5vw;
        }
        //# md
        @media (min-width: 768px) {
            max-width: 517px;
            font-size: 34px;
            margin-right: 20px;
            margin-bottom: 25px;
        }
    }

    &__advantages {
        border-radius: 5px;
        background: #f0faf3;
        display: flex;
        align-items: center;
        max-width: 558px;
        position: relative;
        overflow: hidden;
        padding: 4% 5%;
        //# md
        @media (min-width: 768px) {
            padding: 23px 35px;
            margin-bottom: 25px;
        }
    }

    &__ico {
        position: absolute;
        width: 50%;
        left: 25%;
        opacity: 0.05;

        //# sm
        @media (min-width: 576px) {
            opacity: 0.65;
            position: static;
            width: 40px;
            height: 40px;
            margin-right: 26px;
        }
    }

    &__advantage {
        text-align: center;
        font-size: 4vw;
        // # sm
        @media (min-width: 576px) {
            font-size: 18px;
            text-align: left;
        }
    }

    &__slider {
        max-width: 660px;
        margin: 0 auto 13vw;
        // # md
        @media (min-width: 768px) {
            margin: 0 auto 116px;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        // # custom
        @media (min-width: 900px) {
            flex-direction: row;
        }
    }

    &__feedback {
        text-align: center;
        margin-bottom: 7vw;
        // # sm
        @media (min-width: 576px) {
            margin-bottom: 25px;
        }
        // # custom
        @media (min-width: 900px) {
            text-align: left;
            margin-right: 20px;
        }
    }

    &__question {
        font-size: 6.5vw;
        font-weight: 500;
        // # sm
        @media (min-width: 576px) {
            font-size: 34px;
        }
    }

    &__appeal {
        font-size: 3.5vw;
        // # sm
        @media (min-width: 576px) {
            font-size: 20px;
        }
    }

    &__btn {
        font-weight: 400;
        flex-shrink: 0;
        margin-bottom: 25px;
    }
}
.carousel-indicators {
    // position: static;
    bottom: -6%;
    transform: translateY(63%);
    margin: 0;
    display: flex;
    justify-content: center;
    & [data-bs-target] {
        background: none;
        opacity: 1;
        box-sizing: border-box;
        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        &::after {
            content: "";
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 100%;
            background: #c7c7c7;
            transition: all 0.5s;
        }
        &.active {
            &::after {
                background: #ffd332;
            }
        }
        &:hover {
            &::after {
                background: #ffd332;
            }
        }
    }
}
.carousel-control-prev,
.carousel-control-next {
    opacity: 1;
}
.carousel-control-prev-icon {
    left: -100%;
}
.carousel-control-next-icon {
    right: -100%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 8vw;
    height: 8vw;
    max-width: 40px;
    max-height: 40px;
    background-color: #e8e8e8;
    border-radius: 50%;
    color: #17893c;
    background-image: none;
    display: flex;
    align-items: center;
    justify-content: center;
    // # lg
    @media (min-width: 992px) {
        position: relative;
    }
    & svg {
        width: 9px;
        height: 16.45px;
    }
}
