.main {
    padding: 10vw 0;
    overflow: hidden;
    //# sm
    @media (min-width: 576px) {
        padding: 70px 0;
    }
    //# lg
    @media (min-width: 992px) {
        padding: 100px 0;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        //# md
        @media (min-width: 768px) {
            width: 420px;
            position: relative;
        }
        //# lg
        @media (min-width: 992px) {
            width: 580px;
        }
    }

    &__title {
        font-size: 7vw;
        line-height: 1.05;
        //# md
        @media (min-width: 768px) {
            flex-grow: 1;
            position: relative;
            font-size: 34px;
            margin-bottom: 24px;
            z-index: 1;
        }
        //# lg
        @media (min-width: 992px) {
            font-size: 45px;
        }
    }

    &__board {
        position: relative;
        margin-bottom: 5vw;
        //# md
        @media (min-width: 768px) {
            margin-bottom: 0;
            position: absolute;
            left: 370px;
            top: 42%;
            transform: translateY(-50%);
        }
        //# lg
        @media (min-width: 992px) {
            left: 520px;
        }
        //# xl
        @media (min-width: 1200px) {
            left: 43vw;
        }
        //# xxl
        @media (min-width: 1400px) {
            left: 637px;
        }

        & p {
            position: absolute;
            padding: 15px;
            margin-bottom: 40px;
            opacity: 0;
            transform: translateX(-50%);
            font-size: 14px;
            pointer-events: none;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0px 0px 15px 0px #0000004d;
            width: 280px;
            left: 50%;

            &:nth-child(2) {
                bottom: 57.5%;
            }
            &:nth-child(4) {
                bottom: 29%;
            }
            &:nth-child(6) {
                bottom: 12%;
            }

            //# custom
            @media (min-width: 430px) {
                &:nth-child(2) {
                    left: 50%;
                }
                &:nth-child(4) {
                    left: 37%;
                }
                &:nth-child(6) {
                    left: 63%;
                }
            }
            //# md
            @media (min-width: 768px) {
                transform: none;
                &:nth-child(2) {
                    left: 8%;
                }
                &:nth-child(4) {
                    left: 8%;
                }
                &:nth-child(6) {
                    left: 8%;
                }
            }
            //# custom
            @media (min-width: 860px) {
                &:nth-child(2) {
                    left: 16.2%;
                }
            }
            //# custom
            @media (min-width: 1150px) {
                &:nth-child(6) {
                    left: 35.7%;
                }
            }
        }
    }

    &__info {
        position: absolute;
        width: 25px;
        height: 25px;
        background: #fff705 url("../../assets/images/main/plus.svg") 50% / 60% no-repeat;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        animation: anim-info 1.5s infinite linear alternate;
        @keyframes anim-info {
            70% {
                opacity: 1;
            }
            100% {
                opacity: 0.4;
            }
        }

        &:hover {
            animation: none;
            z-index: 2;
            & + p {
                opacity: 1;
                transition: opacity 0.5s;
            }
        }

        &:nth-child(1) {
            bottom: 60.5%;
            left: 59.5%;
        }
        &:nth-child(3) {
            animation-delay: 1s;
            bottom: 32%;
            left: 42%;
        }
        &:nth-child(5) {
            animation-delay: 2s;
            bottom: 15%;
            left: 75%;
        }
        //# md
        @media (min-width: 768px) {
            &:nth-child(1) {
                left: 22%;
            }
            &:nth-child(5) {
                left: 28%;
            }
        }
        //# custom
        @media (min-width: 860px) {
            &:nth-child(1) {
                left: 55.5%;
            }
        }
        //# custom
        @media (min-width: 1150px) {
            &:nth-child(5) {
                left: 75%;
            }
        }
    }

    &__pic {
        width: 100%;
        & img {
            width: 100%;
        }
        //# md
        @media (min-width: 768px) {
            width: 716px;
        }
    }

    &__subtitle {
        width: 100%;
        text-align: center;
        font-size: 4.3vw;
        line-height: 1.35;
        margin-bottom: 7vw;
        //# custom
        @media (min-width: 450px) {
            font-size: 3vw;
        }
        //# md
        @media (min-width: 768px) {
            text-align: left;
            position: relative;
            z-index: 1;
            font-size: 15px;
            margin-bottom: 31px;
        }
        //# lg
        @media (min-width: 992px) {
            font-size: 20px;
        }
    }

    &__advantages {
        margin-bottom: 9vw;
        //# md
        @media (min-width: 768px) {
            margin-bottom: 35px;
            position: relative;
            z-index: 1;
            flex-grow: 1;
        }
        //# lg
        @media (min-width: 992px) {
            margin-bottom: 52px;
        }
    }

    &__advantage {
        //# custom
        @media (min-width: 450px) {
            display: flex;
            align-items: center;
        }
    }

    &__ico {
        width: 10vw;
        margin: 0 auto 2vw;
        //# custom
        @media (min-width: 450px) {
            margin: 0 8px 0 0;
            width: 7vw;
        }
        //# md
        @media (min-width: 768px) {
            width: 35px;
        }
        @media (min-width: 992px) {
            width: 45px;
        }
        & img {
            width: 100%;
        }
    }

    &__explanation {
        font-size: 4vw;
        line-height: 1.15;
        font-weight: 500;
        text-align: center;
        //# custom
        @media (min-width: 450px) {
            text-align: left;
            font-size: 3vw;
        }
        //# md
        @media (min-width: 768px) {
            font-size: 14px;
        }
        //# lg
        @media (min-width: 992px) {
            font-size: 18px;
        }
    }

    &__interaction {
        position: relative;
        z-index: 1;
    }

    &__btn {
        display: flex;
        justify-content: center;
        margin-bottom: 5vw;
        //# md
        @media (min-width: 768px) {
            margin-bottom: 24px;
        }
    }

    &__proof {
        font-size: 2.5vw;
        font-size: 15px;
        line-height: 1.2;
        color: #575757;
        //# md
        @media (min-width: 768px) {
            margin-bottom: 24px;
        }
    }
}
