.my-modal {
    &__close {
        position: absolute;
        right: 0;
        padding: 10px;
        z-index: 2;
    }

    &__pic {
        & img {
            width: 100%;
            transform: scale(-1, 1);
        }
    }

    &__content {
        padding: 7.14% 8.04%;
        text-align: center;
        // # sm
        @media (min-width: 576px) {
            padding: 40px 45px;
        }
    }

    &__title {
        font-size: 6.2vw;
        margin-bottom: 2vw;
        font-weight: 600;
        // # sm
        @media (min-width: 576px) {
            font-size: 36px;
            margin-bottom: 11px;
        }
    }

    &__text {
        font-size: 4vw;
        margin-bottom: 4.17vw;
        // # sm
        @media (min-width: 576px) {
            font-size: 16px;
            margin-bottom: 24px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__control {
        margin-bottom: 4vw;
        border: 1px solid #c9c9c9;
        border-radius: 5px;
        height: 10.43vw;
        padding: 0 3.48vw;
        font-size: 16px;
        // # sm
        @media (min-width: 576px) {
            margin-bottom: 23px;
            height: 60px;
            padding: 0 20px;
        }
    }

    &__btn {
        width: 100%;
        font-weight: 400;
    }
}
.modal-custom {
    max-width: 560px;
}
