.overlay.__opened {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    z-index: 9;
    background: black;
    opacity: 0.6;
    //# md
    @media (min-width: 768px) {
        display: none;
    }
}
.nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0px;
    left: 0px;
    background: #17893c;
    box-shadow: 0px -1.56px 12.51px #00000030;
    //# md
    @media (min-width: 768px) {
        background: #fff;
    }

    &__background {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 72px;
        background: #17893c;
        @media (min-width: 992px) {
            box-shadow: inset 0px -10px 10px -10px #0000004d;
        }
    }

    &__container {
        display: flex;
    }

    &__logo {
        position: relative;
        z-index: 2;
        display: none;
        transition: all 0.5s cubic-bezier(0, 1, 0.5, 1);
        //# custom
        @media (min-width: 580px) {
            display: block;
            height: 60px;
            margin: 6px 12px 6px 0;
        }
        //# md
        @media (min-width: 768px) {
            margin-right: 56px;
        }
        //# lg
        @media (min-width: 992px) {
            height: 100px;
            margin: 10px 16px 13px 0;
        }
        & img {
            height: 100%;
            border-radius: 50%;
        }
        &.__opened {
            //# md
            @media (min-width: 768px) {
                height: 100px;
                margin: 10px 16px 13px 0;
            }
        }
    }

    &__content {
        width: 100%;
        position: relative;
        flex-grow: 1;
    }

    &__cover {
        order: 1;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 72px;
        background: #17893c;
        @media (min-width: 992px) {
            box-shadow: inset 0px -10px 10px -10px #0000004d;
        }
    }

    &__brand {
        display: none;
        //# custom
        @media (min-width: 954px) {
            display: flex;
            order: 2;
            position: relative;
            z-index: 2;
            height: 72px;
            align-items: center;
            color: #fff;
            line-height: 1.4;
            font-size: 23px;
            font-weight: 700;
            flex-grow: 1;
        }
        //# lg
        @media (min-width: 992px) {
            font-size: 33px;
            align-items: flex-end;
        }
    }

    &__phone {
        order: 3;
        z-index: 2;
        height: 72px;
        align-items: center;
        display: flex;
        color: #fff;
        font-size: 6vw;
        font-weight: 700;
        flex-grow: 1;
        padding-right: 52px;
        //# custom
        @media (min-width: 485px) {
            font-size: 20px;
            padding-right: 12px;
        }
        //# custom
        @media (min-width: 690px) {
            font-size: 25px;
        }
        //# lg
        @media (min-width: 992px) {
            flex-grow: 0;
        }
    }

    &__ico {
        width: 6vw;
        margin-right: 10px;
        margin-bottom: 4px;
        //# custom
        @media (min-width: 485px) {
            width: 20px;
        }
        //# lg
        @media (min-width: 992px) {
            width: 25px;
        }
    }

    &__btn {
        order: 4;
        position: relative;
        z-index: 2;
        display: none;
        align-items: center;
        font-size: 16px;
        flex-grow: 1;
        padding-right: 52px;
        //# custom
        @media (min-width: 485px) {
            display: flex;
            height: 72px;
        }
        //# lg
        @media (min-width: 992px) {
            padding-right: 12px;
            flex-grow: 0;
        }
        &.__opened {
            margin-bottom: 20px;
            order: 7;
            display: flex;
            justify-content: center;
            padding-right: 12px;
            & span {
                display: inline;
            }
            //# custom
            @media (min-width: 485px) {
                margin-bottom: 0;
                justify-content: flex-start;
                order: 4;
                padding-right: 52px;
                & span {
                    display: none;
                }
                //# custom
                @media (min-width: 640px) {
                    & span {
                        display: inline;
                    }
                }
            }
            //# lg
            @media (min-width: 992px) {
                padding-right: 12px;
            }
        }
        & span {
            //# custom
            @media (min-width: 485px) {
                display: none;
            }
            //# custom
            @media (min-width: 640px) {
                display: inline;
            }
        }
    }

    &__burger {
        order: 5;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        height: 72px;
        display: flex;
        align-items: center;
        //# lg
        @media (min-width: 992px) {
            display: none;
        }
        & button {
            width: 28px;
            height: 19px;
            position: relative;
            & span {
                position: absolute;
                height: 3px;
                width: 100%;
                background: #fff;
                display: block;
                left: 0;
                transition: 0.3s ease-in-out;
                &:nth-child(1) {
                    top: 0;
                }
                &:nth-child(2) {
                    top: 8px;
                }
                &:nth-child(3) {
                    top: 16px;
                }
            }
        }
        &.__opened {
            & span {
                &:nth-child(1) {
                    top: 8px;
                    transform: rotate(-45deg);
                }
                &:nth-child(2) {
                    width: 0%;
                    left: 50%;
                }
                &:nth-child(3) {
                    top: 8px;
                    transform: rotate(45deg);
                }
            }
        }
    }

    &__links {
        order: 6;
        font-weight: 400;
        align-items: center;
        height: auto;
        display: flex;
        flex-direction: column;
        transition: line-height 0.5s cubic-bezier(0, 1, 0.5, 1), top 0.5s cubic-bezier(0, 1, 0.5, 1);
        line-height: 0;
        position: relative;
        color: #17893c;
        top: -40px;
        //# md
        @media (min-width: 768px) {
            flex-direction: row;
        }
        //# lg
        @media (min-width: 992px) {
            color: #000;
            font-size: 18px;
            line-height: 1.5;
            top: 0;
            padding-bottom: 8px;
        }
        &.__opened {
            font-size: 24px;
            line-height: 1.5;
            top: 0;
            color: #fff;
            padding-bottom: 8px;
            //# md
            @media (min-width: 768px) {
                font-size: 18px;
                color: #000;
            }
            & a {
                margin-bottom: 10px;
                // # md
                @media (min-width: 768px) {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__link {
        // # sm
        @media (min-width: 580px) {
            margin-right: 72px;
        }
        // # md
        @media (min-width: 768px) {
            margin-right: 20px;
            margin-bottom: 0;
        }
    }
}
