.sale {
    &__wrapper {
        display: grid;
        grid-auto-columns: auto 1fr;
    }

    &__title {
        font-size: 7.572vw;
        margin-bottom: 2.227vw;
        font-weight: 500;
        text-align: center;
        display: flex;
        flex-direction: column;
        // # custom
        @media (min-width: 450px) {
            font-size: 34px;
            margin-bottom: 10px;
        }
        @media (min-width: 768px) {
            grid-row: 2;
            margin-right: 30px;
            text-align: left;
            max-width: 420px;
        }
        @media (min-width: 992px) {
            display: block;
        }
        @media (min-width: 1200px) {
            max-width: none;
        }
    }

    &__subtitle {
        grid-column: 1;
        font-size: 4.454vw;
        margin-bottom: 7.349vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        // # custom
        @media (min-width: 450px) {
            font-size: 20px;
            margin-bottom: 33px;
        }
        @media (min-width: 768px) {
            grid-row: 3;
            text-align: left;
            max-width: 420px;
        }
        @media (min-width: 992px) {
            display: block;
        }
    }

    &__pic {
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        min-width: 247px;
        max-width: 77.188%;
        margin-bottom: 3.259vw;
        // # md
        @media (min-width: 768px) {
            grid-row: 1/6;
            grid-column: 2/3;
        }
        & img {
            width: 100%;
        }
    }

    &__content {
        display: flex;
        flex-direction: column-reverse;
        @media (min-width: 768px) {
            grid-row: 4;
        }
        // # xl
        @media (min-width: 1200px) {
            flex-direction: row;
        }
    }

    &__price {
        margin-bottom: 7.349vw;
        font-size: 6vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-weight: 500;
        // # custom
        @media (min-width: 450px) {
            margin-bottom: 33px;
            font-size: 28px;
        }
        // # md
        @media (min-width: 768px) {
            justify-content: flex-start;
        }
    }

    &__btn {
        margin-bottom: 33px;
        // # md
        @media (min-width: 768px) {
            align-self: flex-start;
            margin-right: 39px;
        }
    }
}
