.warning {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9;
    height: 0;

    &__content {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    & input {
        display: none;
        &[id="warning-open"]:checked ~ .warning__wrapper {
            display: block;
        }
    }

    &__wrapper {
        display: none;
        background-color: #ffd332;
        padding: 16.5px 40px;
        box-shadow: inset 0px 9px 7px -6px #f1bd00;
    }

    &__text {
        text-align: center;
    }

    &__close {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        width: 23px;
        height: 23px;
        margin: 18.5px;
        padding: 5px;
        &::before {
            content: "";
            position: absolute;
            top: 4px;
            left: 11.5px;
            display: block;
            width: 1px;
            height: 17px;
            background: #000;
            transform: rotate(45deg);
        }
        &::after {
            content: "";
            position: absolute;
            top: 4px;
            left: 11.5px;
            display: block;
            width: 1px;
            height: 17px;
            background: #000;
            transform: rotate(135deg);
        }
    }
}
